<h1 class="text-2xl"><a href={~p"/restaurants"}>Restaurants</a></h1>
<h1 class="text-2xl"><a href={~p"/lists"}>Lists</a></h1>
<h1 class="text-2xl" :if={@current_user}>
  <a href={~p"/users/by-id/#{@current_user.id}"}>Profile</a>
</h1>