<h1 class="text-xl"><a href={~p"/restaurants"}>Restaurants</a></h1>
<h1 class="text-xl"><a href={~p"/lists"}>Lists</a></h1>
<h1 class="text-xl" :if={@current_user}>
  <a href={~p"/user/#{@current_user.id}"}>Profile</a>
</h1>