{% load static %}

<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'core/main.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'core/dango.png' %}"/>
    <title>munchie.online</title>
    {% block head %}{% endblock %}
  </head>
  <body>
    <header>
      <a href="{% url 'core:index' %}"><h1>munchie.online</h1></a>
    </header>
    {% block body %}{% endblock %}
  </body>
</html>
