{% extends "core/base.html" %}
{% load static %}

{% block head %}
<link href="{% static 'core/main.css' %}" rel="stylesheet">
<script src="{% static 'htmx/htmx.min.js' %}"></script>
<script src="{% static 'leaflet/leaflet.js' %}"></script>
<script src="{% static 'core/index.js' %}" defer></script>
<title>munchie.online</title>
{% endblock %}

{% block body %}
<div id='body'>
  <div id='header'>
    <h1>munchie.online</h1>
  </div>
  <div id='left'>
    <div>search: ________________</div>
    <a href='/explore/'>explore</a>
    <a href='/feed/'>feed</a>
    <a href='/profile/'>profile</a>
    <a href='/settings/'>settings</a>
    <a href='/log/'>LOG A FEED</a>
    <a href='/create-list/'>CREATE A LIST</a>
  </div>
  <div id='content'>
  </div>
  <div id='right'>
    <div id='restaurants-list'>
      <h1>Restaurants</h1>
      <div id='restaurants'>
        <ul>
          {% for restaurant in restaurants %}
            <li>{{ restaurant.name }}</li>
          {% endfor %}
        </ul>
        <h1>Latest reviews</h1>
        <div id='reviews'>
          {% for review in new_reviews %}
          <div class='review'>
            <p>{{ review.restaurant.name }}</p>
            <p>{{ review.date }}</p>
            <p>{{ review.text }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
