{% load static %}

<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'core/main.css'%}" rel="stylesheet">
    <title>munchie.online</title>
  </head>
  <body>
    <div id='body'>
      <div id='sidebar'>
        <div id='title'>munchie.online</div>
        <div>search: ________________</div>
        <a href='/explore/'>explore</a>
        <a href='/feed/'>feed</a>
        <a href='/profile/'>profile</a>
        <a href='/settings/'>settings</a>
        <a href='#log-form'>LOG A FEED</a>
        <a href='/create-list/'>CREATE A LIST</a>
      </div>
    <div id='content'>
      <div id='content-inner'>
        <h1>Restaurants</h1>
        <div id='restaurants'>
          <ul>
            {% for restaurant in restaurants %}
              <li>{{ restaurant.name }}</li>
            {% endfor %}
          </ul>
          <h1>Latest reviews</h1>
          <div id='reviews'>
            {% for review in new_reviews %}
            <div class='review'>
              <p>{{ review.restaurant.name }}</p>
              <p>{{ review.date }}</p>
              <p>{{ review.text }}</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div id='log-form'>
      <form action="/log/" method="post">
        {% csrf_token %}
        {{ form }}
        <button value="submit">Submit</button>
        <a href='#'>Close</button>
      </form>
    </div>
  </body>
</html>
