{% extends "core/base.html" %}
{% load static %}

{% block head %}
<script>
  (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
    key: "{{ google_maps_api_key }}",
    v: "beta",
  });
</script>
{% endblock %}

{% block body %}
<div id="place-autocomplete">
  <p>Search for a restaurant:</p>
</div>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Submit</button>
  <script>
    (async function() {
      await google.maps.importLibrary("places");

      // Create the input HTML element, and append it.
      const placeAutocomplete = new google.maps.places.PlaceAutocompleteElement();
      document.getElementById('place-autocomplete').appendChild(placeAutocomplete);

      const nameField = document.getElementById('id_name');
      const addressField = document.getElementById('id_address');
      const googleMapsPlaceIdField = document.getElementById('id_google_maps_place_id');
      // Add the gmp-placeselect listener, and display the results.
      placeAutocomplete.addEventListener("gmp-placeselect", async ({ place }) => {
        await place.fetchFields({
          fields: ["id", "displayName", "formattedAddress"],
        });
        nameField.value = place.displayName;
        addressField.value = place.formattedAddress;
        googleMapsPlaceIdField.value = place.id;
        console.log(place);
      });
    })();
  </script>
</form>
{% endblock %}
