* {
  margin: unset;
}

#body {
  display: grid;
  grid-template-areas:
    "h h h"
    "l c r";
}

#header {
  grid-area: h;
}

#left {
  grid-area: l;
  display: flex;
  flex-direction: column;
  background: pink;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

#content {
  grid-area: c;
}

#right {
  grid-area: r;
  background: lightgrey;
}

#reviews {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.review {
  background: lightgreen;
}

#title {
  font-size: 1.7em;
  font-weight: bold;
  font-family: monospace;
}

h1 {
  font-family: monospace;
  font-size: 1.3em;
}

.listitem-form:has(input[name$="-DELETE"]:checked) {
    display: none;
}
